@use "../../../scss/base/mixins.scss";
.contacts {
	padding-top: var(--block-padding-top);
	padding-bottom: var(--block-padding-bottom);

	@include mixins.tablet {
		padding-top: var(--block-padding-top-60);
		padding-bottom: var(--block-padding-bottom-60);
	}

	@include mixins.mobileSm {
		padding-top: var(--block-padding-top-30);
		padding-bottom: var(--block-padding-bottom-30);
	}
}
.contacts__content {
	display: flex;
}
.contacts__left-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--gray-bg);
	border-radius: 60px 0 0 60px;
	padding: 80px;
	width: 50%;

	@include mixins.tablet {
		width: 100%;
		border-radius: 40px;
		padding: 40px;
	}

	@include mixins.mobile {
		border-radius: 20px;
		padding: 20px;
	}
}
.contacts__title {
	font-family: var(--font-accent);
	font-size: var(--fs-48);
	font-weight: var(--fw-700);
	line-height: 108%;
	color: var(--text-color-black);
	text-align: center;
	margin-bottom: 20px;
}
.contacts__text {
	font-family: var(--font-text);
	font-size: var(--fs-32);
	font-weight: var(--fw-400);
	color: var(--text-color);
	text-align: center;
	margin-bottom: 60px;
}
.contacts__info {
	display: flex;
	flex-direction: column;
	gap: 30px;

	max-width: 565px;

	@include mixins.tablet {
		max-width: 100%;
	}
}
.contacts__address {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.contacts__address-title {
	font-family: var(--font-text);
	font-size: var(--fs-32);
	font-weight: var(--fw-400);
	color: var(--text-color);
}
.contacts__address-text {
	font-family: var(--font-text);
	font-size: var(--fs-32);
	font-weight: var(--fw-400);
	color: var(--text-color-black);
}
.contacts__phone {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.contacts__phone-title {
	font-family: var(--font-text);
	font-size: var(--fs-32);
	font-weight: var(--fw-400);
	color: var(--text-color);
}
.contacts__phone-text {
	font-family: var(--font-text);
	font-size: var(--fs-32);
	font-weight: var(--fw-400);
	color: var(--text-color-black);
}
.contacts__email {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.contacts__email-title {
	font-family: var(--font-text);
	font-size: var(--fs-32);
	font-weight: var(--fw-400);
	color: var(--text-color);
}
.contacts__email-text {
	font-family: var(--font-text);
	font-size: var(--fs-32);
	font-weight: var(--fw-400);
	color: var(--text-color-black);
}
.contacts__social {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 12px;
}
.contacts__social-title {
	font-family: var(--font-text);
	font-size: var(--fs-32);
	font-weight: var(--fw-400);
	color: var(--text-color);
	text-wrap: balance;
}
.contacts__social-block {
	width: 49px;
	height: 49px;
	flex-shrink: 0;
}
.contacts__right-block {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	@include mixins.tablet {
		display: none;
	}
}
.contacts__right-block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}
